@using LibrarySystemApplication.Models.Account.Control
@model Register

<!--- Registger Modal (To be implemented) -->
<div class="modal fade" id="registerModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Your .Lib Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

            </div>
            <div class="modal-body">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="John Doe">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Create a password">
                            <span class="input-group-text password-toggle">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Confirm your password">
                            <span class="input-group-text password-toggle">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-register text-light">Register</button>
                    <div class="register-link mt-3">
                        Already have an account? <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                            data-bs-target="#loginModal" data-bs-dismiss="modal">Login here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
