@using LibrarySystemApplication.Models.Account
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<Member> signInManager
@inject UserManager<Member> userManager




@{
    ViewData["Title"] = "Home Page";
}

<section role="" class="vw-90 min-vh-100 d-flex justify-content-center align-items-center bg-primary text-white">
  <h1>Hello, Bootstrap Fullscreen!</h1>

</section>

<section> This is hotdog</section>


@{
    var member = await userManager.GetUserAsync(User);
    var fullName = member?.Name ?? "No Name Set";
}


@if (User.IsInRole("Admin"))
{
    <h1>Hi Admin @fullName</h1>
}
else
{
    <h1>Hi Member @fullName</h1>
}