@{
    ViewData["Title"] = "Home Page";
}

<section role="hero" class="vw-90 min-vh-100 d-flex justify-content-center align-items-center bg-primary text-white">
  <h1>Hello, Bootstrap Fullscreen!</h1>
</section>

<section> This is hotdog</section>
