@model IEnumerable<LibrarySystemApplication.Models.Books.Book>

@{
    ViewData["Title"] = "Main Library";
}

<!-- Hero Section -->
<div class="wrapper">
    <!-- Main Content -->
    <div class="main-content">
        <h1 class="mb-4">Main Content Area</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <!-- Add more content here -->
    </div>


</div>
