@{
    ViewData["Title"] = "Main Library";
}

<!-- Hero Section -->
<div class="wrapper">
    <!-- Main Content -->
    <div class="main-content container">
        <nav> this is nav filtering and search</nav>
        <h1> category </h1>

        <div id="bookFeed" class="book-feed">
            <h1> Loading... </h1>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="bookModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel">Book Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="bookDetails">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#bookFeed').load('/Home/PopulateBooksInLibrary');
        });


        $(document).on("click", "[data-bs-target='#bookModal']", function () {
            var bookId = $(this).data("id");

            // Load details dynamically
            $("#bookDetails").load("/Books/Details/" + bookId);
        });
    </script>
}
